@import url(https://db.onlinewebfonts.com/c/ac95f91c55cc591ecf37a4d136ff8031?family=BMWTypeNext+Pro+Regular);

.main-background {
    width:100%;
    background-attachment: fixed;
    height:100vh;
    margin: 0;
    padding: 0;
    background-image: url(https://d1jvv63fd9y16z.cloudfront.net/feature/jinsuk/image/main_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;

    
    h1 {
        margin: 0;
        padding: 0;
        font-size: 50pt;
        font-family: "BMWTypeNext Pro Regular",Arial,Helvetica,Roboto,sans-serif;
        width: fit-content;
    }
    a {
        font-family:"BMWTypeNext Pro Regular",Arial,Helvetica,Roboto,sans-serif;
    }

    .sheer-drive {
        position: relative;
        font-family: "BMWTypeNext Pro Regular", Arial, Helvetica, Robot,sans-serif;
        font-size: 1pc;
        font-weight: 300;
        line-height:1.5rem;
        top: 2%;
        left: 5%;
        color: whitesmoke;
        width:fit-content;
    }
    .line-divide {
        width:93%;
        border-top: 1px solid whitesmoke;
        margin: auto;

    }
    .small-title {
        position:absolute;
        bottom: 22%;
        left: 4%;
        color: whitesmoke;
        font-size:12pt;
        width: fit-content;
        
    }
    .big-title {
        position:absolute;
        bottom:12%;
        left: 4%;
        color: whitesmoke;
        font-size: 30pt;
        width: fit-content;
    }

    .start-button {
        position: absolute;
        bottom: 30px;
        left: 4%;
        color: whitesmoke;
        font-size: 20pt;
        border: 2px solid whitesmoke;
        width: 180px;
        text-align:center;
        height:50px;
        cursor:pointer;
        transition: 400ms;

        .start-font {
            margin: auto;
            position: relative;
            top:5%;
        }
    }
    .start-button:hover{
        color:black;
        background-color: whitesmoke;
        transition: 400ms;

    }
}

@media (max-width: 760px) {

    .main-background {
        width:100%;
        background-attachment: fixed;
        background-position: center;
        background-size:cover;
        height:100vh;
        margin: 0;
        padding: 0;
    
        
        h1 {
            margin: 0;
            padding: 0;
            font-size: 24pt;
            font-family: "BMWTypeNext Pro Regular",Arial,Helvetica,Roboto,sans-serif;
            width: fit-content;
        }
        a {
            font-size: 12pt;
            font-family:"BMWTypeNext Pro Regular",Arial,Helvetica,Roboto,sans-serif;
        }
        .sheer {
        
                .sheer-drive {
                    position: relative;
                    font-family: "BMWTypeNext Pro Regular", Arial, Helvetica, Robot,sans-serif;
                    font-size: 1pc;
                    font-weight: 300;
                    line-height:1.5rem;
                    top: 2%;
                    left: 5%;
                    color: transparent;
                    width:fit-content;
                    width: 0;
                }
            }
        .line-divide {
            width:0%;
            border-top: 1px solid whitesmoke;
            margin: auto;
    
        }
        .small-title {
            position:absolute;
            bottom: 19%;
            left: 10%;
            color: whitesmoke;
            font-size:12pt;
            width: fit-content;
            
        }
        .big-title {
            position:absolute;
            bottom:12%;
            left: 10%;
            color: whitesmoke;
            font-size: 30pt;
            width: fit-content;
        }
    
        .start-button {
            position: absolute;
            bottom: 20px;
            left: 10%;
            color: whitesmoke;
            font-size: 20pt;
            border: 2px solid whitesmoke;
            width: 180px;
            text-align:center;
            height:50px;
            cursor:pointer;
            transition: 400ms;
    
            .start-font {
                margin: auto;
                position: relative;
                top:5%;
            }
        }
        .start-button:hover{
            color:black;
            background-color: whitesmoke;
            transition: 400ms;
    
        }
    }

}