@import url(https://db.onlinewebfonts.com/c/ac95f91c55cc591ecf37a4d136ff8031?family=BMWTypeNext+Pro+Regular);


.navbar {
    padding-top:30px;
    width: 100%;
    height:50px;
    margin: auto;
    background-color:transparent;
    display:flex;
    flex-direction: row;
    padding-bottom: 16px;
    background: linear-gradient(0deg,#0000,#0006); 
       a {
        font-size: 1rem;
        font-family: "BMWTypeNext Pro Regular",Arial,Helvetica,Roboto,sans-serif;
        font-weight: 700;
        line-height: 1.5rem;
        height:100%;
    }

    .leftside {
        flex: 90%;
        height:100%;
        display: flex;
        align-items: center;
        padding-left: 100px;

        .bmw-icon {
            width:52px;
            height:52px;
            background-image: url(https://d1jvv63fd9y16z.cloudfront.net/feature/jinsuk/image/bmw_white.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            cursor: pointer;
            margin-bottom:10px;
        }
        .mini-icon {
            width:86px;
            height:72px;
            background-image: url(https://d1jvv63fd9y16z.cloudfront.net/feature/jinsuk/image/mini-white-logo.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin-left: 10px;
            margin-bottom:10px;
        }
    }


    .bmw-conf-li {
        height: 100%;
        font-size: 1rem;
        font-family: "BMWTypeNext Pro Regular",Arial,Helvetica,Roboto,sans-serif;
        font-weight: 700;
        line-height: 1.5rem;
        height:100%;
        // margin-left: 1250px;
        // margin-right:20px;
        position: relative;
        left: 70%;
        padding-top:23px;
        text-decoration: none;

    }
    .bmw-drive-li {
        position: relative;
        height: 100%;
        font-size: 1rem;
        font-family: "BMWTypeNext Pro Regular",Arial,Helvetica,Roboto,sans-serif;
        font-weight: 700;
        line-height: 1.5rem;
        height:100%;
        // margin-left: 20px;
        // margin-right:20px;
        left: 74%;
        padding-top:23px;
        width: fit-content;


    }
    .mini-conf-li {
        height: 100%;
        font-size: 1rem;
        font-family: "BMWTypeNext Pro Regular",Arial,Helvetica,Roboto,sans-serif;
        font-weight: 700;
        line-height: 1.5rem;
        height:100%;
        // margin-left: 20px;
        // margin-right:20px;
        width: fit-content;
        position: relative;
        left: 72%;
        padding-top:23px;



    }
        
        .bmw-conf-li:hover{
            border-bottom: 3px solid #1C69D4;
        }
        .mini-conf-li:hover{
            border-bottom: 3px solid #1C69D4;
        }
        .bmw-drive-li:hover{
            border-bottom: 3px solid #1C69D4;
        }

    
}

@media (max-width: 760px) {
    .navbar {
        flex-direction: column;
        padding-top: 20px;
        height: auto;
        .leftside {
            flex: 100%;
            text-align: center;
            padding-left: 5px;

            .bmw-icon {
                margin: 0;
                position: absolute;
                left: 10px;
                top:10px;
                width: 90px;
                height: 40px;
            }
            .mini-icon {
                margin: 0;
                position: absolute;
                left: 80px;
                top: 12px;
                width: 90px;
                height:35px;
            }
        }
        .bmw-conf-li,
        .bmw-drive-li,
        .mini-conf-li {
            display: none;
        }
    }






}